@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Padauk:wght@400;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-primary: "Share Tech", sans-serif;
  --font-secondary: "Padauk", sans-serif;
  --color-background: #040303;
  --color-foreground: #2b2e31;
  --color-primary: #ffffff;
  --color-yellow: #dcb743;
  --color-blue: #3674b5;
  --color-red: #ea2f14;
  --color-green: #1f7d53;
  --color-orange: #ff7601;
  --color-purple: #7965c1;
}
:root {
  --font-primary: "Share Tech", sans-serif;
  --font-secondary: "Padauk", sans-serif;
  --color-background: #040303;
  --color-foreground: #2b2e31;
  --color-primary: #ffffff;
  --color-yellow: #dcb743;
  --color-blue: #3674b5;
  --color-red: #ea2f14;
  --color-green: #1f7d53;
  --color-orange: #ff7601;
  --color-purple: #7965c1;
}

.light {
  --font-primary: "Share Tech", sans-serif;
  --font-secondary: "Padauk", sans-serif;
  --color-background: #ffffff;
  --color-foreground: #f1f0e8;
  --color-primary: #040303;
  --color-yellow: #dcb743;
  --color-blue: #3674b5;
  --color-red: #ea2f14;
  --color-green: #1f7d53;
  --color-orange: #ff7601;
  --color-purple: #7965c1;
}

@layer base {
  * {
    @apply transition-colors duration-300 ease-in-out;
  }
  body {
    @apply bg-background text-primary font-primary;
  }
}

/* Starborder */
.star-border-container {
  display: inline-block;
  padding: 1px 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.7;
  bottom: -11px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -10px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  border: 1px solid #3674b5;
  background: #000;
  font-size: 16px;
  text-align: center;
  padding: 6px 20px;
  border-radius: 18px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

/* Loader */
.loader {
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  color: #dcb743;
}
.loader:before {
  content: "Loading user data...";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}
